<% cards.forEach(function(shopdetail_cards) { %>          
    <div class="section fade-in">
        <div class="image-container">
            <img src="<%= shopdetail_cards.img %>" alt="<%= shopdetail_cards.alt %>">
        </div>
        <div class="text-container">
            <h2><%= shopdetail_cards.title %></h2>
            <ul>
                <li><%= shopdetail_cards.description1 %></li>
                <li><%= shopdetail_cards.description2 %></li>
                <li><%= shopdetail_cards.description3 %></li>
            </ul>
        </div>
    </div>
<% }); %>