<% cards.forEach(function(ranking_card1, index) { %>  
    <div class="attraction">
        <div class="rank"><%= index + 1 %></div>        
        <img src="<%= ranking_card1.img %>" alt="<%= ranking_card1.alt %>">
        <div class="content">
            <h2><%= ranking_card1.title %></h2>
            <p><%= ranking_card1.description %></p>
        </div>
    </div>  
<% }); %>