<% cards.forEach(function(shopdetail_cards) { %>          
    <div class="product-card">
        <img src="<%= shopdetail_cards.img %>" alt="<%= shopdetail_cards.alt %>">
        <div class="product-info">
            <h3><%= shopdetail_cards.title %></h3>
            <p><%= shopdetail_cards.description %></p>
            <div class="price"><%= shopdetail_cards.price %></div>
            <button class="add-to-cart">I Like This</button>
        </div>
    </div>
<% }); %>