<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCAP Ranking</title>
    <link rel="stylesheet" href="<%= url_for('css/ranking.css') %>">
</head>
<body>
    <%- partial('_partial/header') %> <!-- Header partial, as per your setup -->
    <div class="rankingheader">
        <% 
            var topic = page.topic; 
            var rule = page.description
        %>
        <h1><%= topic %></h1>
        <p><%= rule %></p>
    </div>

    <div class="content">
        <% 
            var cardType = page.cardtype; 
            var rankData = site.data.ranking[cardType];
        %>
        <% if (rankData && rankData.length) { %>
            <%- partial('_partial/rankcard', { cards: rankData}) %>
        <% } %>
    </div>
    <%- partial('_partial/footer') %> <!-- Footer partial -->

  <script src="<%= url_for('js/ranking.js') %>"></script>
</body>
</html>